@font-face {
  font-family: 'corpid-regular';
  src: url("../fonts/corpid/corpid-regular/corpid-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/corpid/corpid-regular/corpid-regular.otf") format("opentype"), url("../fonts/corpid/corpid-regular/corpid-regular.woff") format("woff"), url("../fonts/corpid/corpid-regular/corpid-regular.ttf") format("truetype"), url("../fonts/corpid/corpid-regular/corpid-regular.svg#corpid-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'corpid-light';
  src: url("../fonts/corpid/corpid-light/corpid-light.eot?#iefix") format("embedded-opentype"), url("../fonts/corpid/corpid-light/corpid-light.otf") format("opentype"), url("../fonts/corpid/corpid-light/corpid-light.woff") format("woff"), url("../fonts/corpid/corpid-light/corpid-light.ttf") format("truetype"), url("../fonts/corpid/corpid-light/corpid-light.svg#corpid-light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'corpid-bold';
  src: url("../fonts/corpid/corpid-bold/corpid-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/corpid/corpid-bold/corpid-bold.otf") format("opentype"), url("../fonts/corpid/corpid-bold/corpid-bold.woff") format("woff"), url("../fonts/corpid/corpid-bold/corpid-bold.ttf") format("truetype"), url("../fonts/corpid/corpid-bold/corpid-bold.svg#corpid-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

.layout--landing {
  overflow: hidden; }

.landing {
  margin-top: -60px;
  margin-bottom: 47px;
  font-variant-numeric: lining-nums;
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum'; }

.landing-container {
  max-width: 1040px;
  margin: 0 auto; }

.landing-top {
  background: radial-gradient(78.3% 78.3% at 50% 42.93%, #279EFF 0%, #1A6AAB 100%);
  color: #fff;
  overflow: hidden; }

.capabilities {
  padding: 47px 0 75px;
  background: #F2F2F2; }
  .capabilities h2 {
    margin-bottom: 47px; }

.landing-cost {
  padding: 57px 0 62px;
  background: -webkit-gradient(linear, left top, right top, from(#EB3349), to(#F45C43));
  background: linear-gradient(90deg, #EB3349 0%, #F45C43 100%);
  color: #fff;
  position: relative; }
  .landing-cost:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img-landing/content/cost-bg.png) no-repeat;
    background-size: cover;
    background-position: center; }

.landing-cost__inner {
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 21px 30px 28px 30px;
  height: 100%; }

.landing-cost__msg {
  font-size: 16px;
  line-height: 24px; }

.landing-cost__add {
  font-size: 12px;
  line-height: 16px;
  padding-top: 18px; }

.landing-top-menu__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.landing-top-menu__btn {
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  padding: 10px 35px;
  color: #E30613;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .landing-top-menu__btn:hover {
    background: #cc061a;
    color: #fff; }

.landing-top-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 20px; }

.landing-top-menu__link {
  color: #fff;
  font-size: 16px;
  margin-right: 65px; }
  .landing-top-menu__link:last-child {
    margin-right: 0; }

.landing-cost__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1; }

.landing-cost__item {
  width: 34%;
  padding-right: 20px; }
  .landing-cost__item h4 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px; }

.landing-top__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 61px; }

.landing-top__info {
  width: 50%;
  padding-top: 96px;
  padding-right: 50px; }
  .landing-top__info h1 {
    font-size: 64px;
    margin-bottom: 41px;
    position: relative; }
    .landing-top__info h1:before {
      content: "";
      display: block;
      width: 500%;
      height: 56px;
      background: #E30613;
      position: absolute;
      right: -webkit-calc(100% + 63px);
      right: calc(100% + 63px);
      top: 7px; }
    .landing-top__info h1:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 56px 0px 0px 20px;
      border-color: transparent transparent transparent #E30613;
      position: absolute;
      right: -webkit-calc(100% + 43px);
      right: calc(100% + 43px);
      top: 7px; }

.landing-top__icon {
  width: 50%; }
  .landing-top__icon img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%; }

.landing-top__add {
  font-size: 16px;
  line-height: 24px;
  padding-top: 17px; }

.landing-top__txt {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 43px; }

.landing-top__btn {
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  padding: 15px 59px;
  font-size: 24px;
  margin-bottom: 50px;
  color: #333333;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .landing-top__btn:hover {
    background: #cc061a;
    color: #fff; }

.landing-top-consult {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 7px; }
  .landing-top-consult:before {
    content: "";
    width: 124px;
    height: 124px;
    background: #E30613;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: -19px; }

.landing-top-consult__icon {
  width: 37px;
  margin-right: 16px;
  position: relative;
  z-index: 2; }

.landing-top-consult__info {
  position: relative;
  z-index: 2; }

.landing-top-consult__top {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px; }

.landing-top-consult__phone span {
  font-size: 36px;
  line-height: 24px; }

.selecting {
  padding-top: 44px; }
  .selecting h2 {
    line-height: 1.2;
    margin-bottom: 10px; }

.selecting__item {
  margin-bottom: 78px;
  border: 3px solid #EEF0F3; }
  .selecting__item ul {
    margin-bottom: 26px; }
    .selecting__item ul li {
      padding-left: 12px;
      font-size: 16px;
      line-height: 24px; }
      .selecting__item ul li:before {
        background: #333333;
        border-radius: 50%;
        top: 10px;
        left: -2px; }
  .selecting__item .btn {
    padding: 15px 58px; }

.selecting__info {
  width: 50%;
  padding: 28px 10px 46px 64px; }

.selecting__img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .selecting__img.m-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .selecting__img.m-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .selecting__img img {
    display: block;
    max-width: 100%;
    max-height: 100%; }

.selecting__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.selecting__top {
  font-size: 36px;
  line-height: 48px;
  font-family: 'corpid-regular';
  color: #E30613;
  margin-bottom: 18px; }

.red-t {
  color: #E30613; }

.landing-how {
  padding: 48px 0 97px;
  background: #F2F2F2; }
  .landing-how h2 {
    margin-bottom: 114px; }

.landing-how__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.landing-how__item {
  width: 33.333%; }

.landing-how__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.landing-how__num {
  font-size: 140px;
  line-height: 58px;
  font-family: 'corpid-regular';
  color: #E30613;
  position: relative;
  margin-right: 24px; }
  .landing-how__num:before {
    content: "";
    display: inline-block;
    width: 124px;
    height: 124px;
    left: -7px;
    top: -22px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute; }
  .landing-how__num span {
    position: relative;
    z-index: 1; }

.landing-how__info {
  position: relative;
  z-index: 1;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  color: #333333; }

.landing-calc {
  padding: 74px 0; }
  .landing-calc h2 {
    margin-bottom: 64px; }

.landing-calc__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.landing-calc__form {
  width: 50%; }

.landing-calc__total {
  width: 50%;
  padding-left: 100px; }

.landing-calc__item {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .landing-calc__item:last-child {
    margin-bottom: 0; }
  .landing-calc__item input[type="text"] {
    border: 2px solid #C4C4C4;
    border-radius: 2px;
    width: 193px;
    text-align: right;
    font-size: 24px; }

.landing-calc__item ::-webkit-input-placeholder {
  color: #333333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.landing-calc__item ::-moz-placeholder {
  color: #333333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.landing-calc__item :-moz-placeholder {
  color: #333333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.landing-calc__item :-ms-input-placeholder {
  color: #333333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.landing-calc__item :focus::-webkit-input-placeholder {
  color: transparent; }

.landing-calc__item :focus::-moz-placeholder {
  color: transparent; }

.landing-calc__item :focus:-moz-placeholder {
  color: transparent; }

.landing-calc__item :focus:-ms-input-placeholder {
  color: transparent; }

.landing-calc__label {
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  color: #333333; }

.landing-calc__msg {
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 17px; }

.landing-question {
  padding: 40px 0 48px; }
  .landing-question h2 {
    margin-bottom: 40px; }
  .landing-question .accordeon__item {
    border: 3px solid #EEF0F3;
    margin-bottom: 3px;
    padding: 26px 30px 26px 88px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative; }
    .landing-question .accordeon__item.active {
      background: linear-gradient(89.53deg, #EEF0F3 0.96%, rgba(238, 240, 243, 0) 42.36%); }
      .landing-question .accordeon__item.active .accordeon__link {
        color: #333333; }
        .landing-question .accordeon__item.active .accordeon__link:before {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
    .landing-question .accordeon__item ul:last-child {
      margin-bottom: 0; }
    .landing-question .accordeon__item th, .landing-question .accordeon__item td {
      background: #fff !important; }
  .landing-question .accordeon__link {
    font-size: 24px;
    font-family: 'corpid-bold';
    color: #333333;
    padding-right: 0; }
    .landing-question .accordeon__link:after {
      display: none; }
    .landing-question .accordeon__link:before {
      content: "";
      display: inline-block;
      width: 26px;
      height: 26px;
      background: url(../img-landing/svg/plus.svg) center no-repeat;
      position: absolute;
      left: -60px;
      top: 4px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.landing-calc-in {
  border-radius: 50%;
  border: 1px solid #e4433e;
  width: 428px;
  height: 428px;
  text-align: center;
  overflow: hidden;
  background: url(../img-landing/content/cost-in.png) center bottom no-repeat;
  padding: 63px 25px; }

.landing-calc-in__top {
  font-size: 24px;
  line-height: 48px; }

.landing-calc-in__total {
  color: #EB3349;
  font-size: 40px;
  font-family: 'corpid-regular'; }
  .landing-calc-in__total span {
    font-size: 64px;
    line-height: 48px;
    font-family: 'corpid-bold';
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum'; }

.landing-contacts {
  background: #F2F2F2;
  padding: 38px 0 55px; }

.landing-contacts__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -72px; }

.landing-contacts__item {
  width: 33.333%;
  border-right: 3px solid #FFFFFF;
  text-align: center;
  padding: 16px 72px; }
  .landing-contacts__item:last-child {
    border-right: 0; }
  .landing-contacts__item .btn {
    font-size: 16px;
    padding: 10px 36px; }

.landing-contacts__top {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
  font-family: 'corpid-bold'; }

.short-n {
  font-size: 36px;
  line-height: 24px;
  /* identical to box height, or 67% */
  font-family: 'corpid-regular';
  color: #E30613;
  margin-bottom: 10px; }

.short-n-add {
  font-size: 16px;
  line-height: 24px; }

.landing-contacts-number {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #E30613;
  font-family: 'corpid-regular';
  margin-bottom: 10px; }

.landing-contacts-select .jq-selectbox__select-text {
  text-align: left;
  font-size: 18px; }

.landing-contacts-select .jq-selectbox__select {
  height: 40px;
  padding: 0 45px 0 47px; }
  .landing-contacts-select .jq-selectbox__select:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 27px;
    background: url(../img-landing/svg/label.svg) no-repeat;
    position: absolute;
    left: 12px;
    top: 7px; }

.landing-contacts-select .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #e4e4e4; }

.landing-contacts-select .jq-selectbox__dropdown ul li {
  text-align: left; }

.landing-contacts-select .jq-selectbox__dropdown {
  margin: -2px 0px 0 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e4e4e4;
  border-radius: 5px; }

.landing-contacts-select .jq-selectbox__dropdown ul li:hover, .landing-contacts-select .jq-selectbox li.selected {
  background: #f5f5f5;
  color: #333; }

.landing-contacts-select .jq-selectbox__trigger {
  border-left: 0; }

.landing-contacts-select .jq-selectbox__trigger-arrow {
  top: 20px;
  border-top: 7px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; }

.capabilities-icon {
  height: 70px;
  position: relative; }
  .capabilities-icon:before {
    content: "";
    display: inline-block;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    position: absolute;
    left: -36px;
    top: 10px;
    background: #FFFFFF; }
  .capabilities-icon img {
    display: block;
    max-height: 100%;
    position: relative;
    z-index: 1; }

.capabilities-txt {
  font-size: 24px;
  line-height: 28px;
  padding-left: 15px;
  position: relative;
  z-index: 1; }

.capabilities-slider {
  padding-bottom: 40px; }
  .capabilities-slider .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    position: absolute;
    bottom: -20px;
    width: 100%;
    left: 0; }
    .capabilities-slider .slick-dots li {
      padding-left: 0;
      width: 56px;
      height: 4px;
      background: #fff;
      margin-right: 24px;
      cursor: pointer;
      border-radius: 5px;
      -webkit-transition: background 0.3s ease;
      transition: background 0.3s ease; }
      .capabilities-slider .slick-dots li:last-child {
        margin-right: 0; }
      .capabilities-slider .slick-dots li:before {
        display: none; }
      .capabilities-slider .slick-dots li button {
        display: none; }
      .capabilities-slider .slick-dots li.slick-active, .capabilities-slider .slick-dots li:hover {
        background: #E30613; }
      .capabilities-slider .slick-dots li.slick-active {
        width: 66px; }
  .capabilities-slider .slick-arrow {
    display: inline-block;
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #F2F2F2;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 44px;
    height: 44px;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -20px;
    padding: 0; }
    .capabilities-slider .slick-arrow:hover {
      border: 3px solid #E30613; }
    .capabilities-slider .slick-arrow.slick-prev {
      left: -75px;
      background: #F2F2F2 url(../img-landing/svg/prev.svg) 13px center no-repeat; }
      .capabilities-slider .slick-arrow.slick-prev:hover {
        background: #F2F2F2 url(../img-landing/svg/prev-h.svg) 13px center no-repeat; }
    .capabilities-slider .slick-arrow.slick-next {
      right: -75px;
      background: #F2F2F2 url(../img-landing/svg/next.svg) 15px center no-repeat; }
      .capabilities-slider .slick-arrow.slick-next:hover {
        background: #F2F2F2 url(../img-landing/svg/next-h.svg) 15px center no-repeat; }

.capabilities-item {
  padding-top: 20px;
  padding-left: 39px; }

.popup--landing input[type="text"],
.popup--landing input[type="email"],
.popup--landing input[type="password"],
.popup--landing input[type="email"] {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  color: #333;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background: #fff;
  padding: 8px 12px; }

.popup--landing input[type="submit"] {
  border: 0; }

.popup--landing .jq-selectbox__select-text {
  text-align: left;
  font-size: 16px;
  width: 100% !important; }

.popup--landing .jq-selectbox__select {
  height: 40px;
  padding: 0 45px 0 12px;
  border: 1px solid #e4e4e4; }

.popup--landing .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #e4e4e4; }

.popup--landing .jq-selectbox__dropdown ul li {
  text-align: left; }

.popup--landing .jq-selectbox__dropdown {
  margin: -2px 0px 0 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e4e4e4;
  border-radius: 5px; }

.popup--landing .jq-selectbox__dropdown ul li:hover, .popup--landing .jq-selectbox li.selected {
  background: #f5f5f5;
  color: #333; }

.popup--landing .jq-selectbox__trigger {
  border-left: 0; }

.popup--landing .jq-selectbox__trigger-arrow {
  top: 20px;
  border-top: 7px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; }

@media screen and (max-width: 1280px) {
  .capabilities-slider .slick-arrow.slick-next {
    right: 0; }
  .capabilities-slider .slick-arrow.slick-prev {
    left: 0; }
  .capabilities-slider {
    padding-right: 60px;
    padding-left: 60px; } }

@media screen and (max-width: 1200px) {
  .landing-container,
  .landing-top-menu {
    padding-left: 20px;
    padding-right: 20px; }
  .landing-calc__total {
    padding-left: 30px; } }

@media screen and (max-width: 1024px) {
  .landing-top-menu__link {
    margin-right: 25px; }
    .landing-top-menu__link:last-child {
      margin-right: 0; }
  .capabilities-txt {
    font-size: 18px;
    line-height: 22px; }
  .capabilities-icon:before {
    width: 95px;
    height: 95px; }
  .capabilities-slider .slick-dots li {
    width: 35px; }
  .capabilities-slider .slick-dots li.slick-active {
    width: 45px; }
  .landing-how__num {
    font-size: 85px;
    margin-right: 15px; }
  .landing-how__info {
    font-size: 18px;
    line-height: 22px; }
  .landing-cost__item {
    width: 50%; }
  .landing-calc-in {
    width: 300px;
    height: 300px;
    padding: 63px 25px;
    background-size: 100% 200px; }
  .landing-calc-in__top {
    font-size: 18px;
    line-height: 22px; }
  .landing-calc-in__total {
    font-size: 28px; }
    .landing-calc-in__total span {
      font-size: 38px;
      line-height: 40px; }
  .landing-contacts__wrap {
    margin: 0; }
  .landing-contacts__item {
    padding: 15px 10px; }
  .landing-top__info h1 {
    font-size: 40px; }
  .landing-calc__label {
    font-size: 18px;
    line-height: 20px; }
  .landing-question .accordeon__link {
    font-size: 18px; }
    .landing-question .accordeon__link:before {
      top: -2px; }
  .landing-contacts__top {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px; }
  .selecting__img.m-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .selecting__img {
    height: 120%; } }

@media screen and (max-width: 900px) {
  .landing-top__btn,
  .landing-top-menu__btn,
  .selecting__item .btn,
  .landing-contacts__item .btn {
    padding: 10px 20px;
    font-size: 18px; } }

@media screen and (max-width: 768px) {
  .landing-contacts__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .landing-top__info {
    width: 100%;
    padding-top: 30px;
    padding-right: 0;
    margin-bottom: 30px; }
  .landing-top__icon {
    width: 100%; }
  .landing-how__item {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .landing-how__item:last-child {
      margin-bottom: 0; }
  .landing-how h2 {
    margin-bottom: 40px; }
  .landing-how__num:before {
    width: 80px;
    height: 80px;
    top: -10px; }
  .landing-cost__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .landing-cost__item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px; }
    .landing-cost__item:last-child {
      margin-bottom: 0; }
  .landing-contacts__item {
    width: 100%;
    margin-bottom: 20px;
    border-right: 0; }
  .landing-calc__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .landing-calc__form {
    width: 100%;
    margin-bottom: 20px; }
  .landing-calc__total {
    padding-left: 0;
    width: 100%; }
  .landing-calc__label {
    width: 250px; }
  .landing-calc__item input[type="text"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .landing-top-menu__link {
    margin-right: 10px;
    font-size: 14px; }
    .landing-top-menu__link:last-child {
      margin-right: 0; }
  .selecting__info {
    padding: 30px 10px 30px 20px; } }

@media screen and (max-width: 600px) {
  .landing-top-menu__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .landing-top-menu__link {
    margin-bottom: 10px; }
  .capabilities-item {
    padding-left: 0;
    text-align: center; }
  .capabilities-icon img {
    display: inline-block; }
  .capabilities-icon {
    margin-bottom: 10px; }
  .capabilities-icon:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .capabilities-slider {
    padding-bottom: 0; }
  .capabilities-slider .slick-arrow {
    margin-top: 0; }
  .selecting__info {
    width: 100%; }
  .selecting__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .selecting__img {
    height: auto;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .landing-calc__item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .landing-calc__label {
    width: 100%;
    margin-bottom: 5px; }
  .landing-calc {
    padding: 30px 0; }
    .landing-calc h2 {
      margin-bottom: 20px; }
  .landing-question .accordeon__item {
    padding: 20px 20px 20px 45px; }
  .landing-question .accordeon__link:before {
    left: -35px; }
  .landing-contacts,
  .landing-question,
  .landing-how {
    padding: 30px 0; }
  .selecting__item {
    margin-bottom: 20px; }
    .selecting__item:last-child {
      margin-bottom: 0; }
  .selecting {
    padding: 30px 0; } }
